<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicMusic"
          class="org.example.music.ClassicMusic">
    </bean>

    <bean id="rockMusic"
        class="org.example.music.RockMusic">
    </bean>

    <bean id="jazzMusic"
        class="org.example.music.JazzMusic">
    </bean>

    <bean id="musicPlayer"
        class="org.example.music.MusicPlayer">
        <constructor-arg name="musics">
            <list>
                <ref bean="classicMusic"/>
                <ref bean="rockMusic"/>
                <ref bean="jazzMusic"/>
            </list>
        </constructor-arg>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>